mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
    height: 100vh;
}

mat-sidenav {
    width: 250px;
    padding: 20px;
    background-color: #383838;
    color: white;
}

main {
    padding: 10px;
}


@media (max-width: 768px) {
    mat-sidenav {
        width: 200px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    mat-sidenav {
        width: 150px;
        padding: 10px;
    }
}
